* {
    font-size: 1em !important;
    color: #000 !important;
    font-family: Verdana, sans-serif;

    text-align: center;
}

.card-container {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;

    margin-bottom: 25px;
}

.card {
    padding: 5px;
    border: solid;
    border-color: grey;
    background-color: rgba( 220, 220, 220, 50%);
    border-radius: 15px ;
    min-width: 30rem;
}

.card button {
    border-radius: 25px;
    background-color: white;
    margin-top: 5px;
}

.card ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}